<!DOCTYPE html>
<html >

<head>
  <title>Twitter search application</title>
</head>

<body>
 <div class="login">
	<h1>Twitter search application</h1>
     <h3> Enter a topic</h3>

     <form action="http://localhost:5000" method="post">
		<input type="text" id="word_to_analyse" name="word_to_analyse" placeholder="Enter a word..."></input>
        <button type="submit" class="btn">Submit</button>
    </form>

   <br>
   <br>
   <h3> Topic : {{ word }}</h3>

   {% for table in similar_tweets %}
            {{ table|safe }}
  {% endfor %}

 </div>


</body>
</html>
